<div class="auth-container">
  <div class="auth-card">
    <h2 class="auth-title">Welcome Back</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Username -->
      <app-form-input *ngIf="usernameControl"
                      label="Username"
                      placeholder="Enter your username"
                      [control]="usernameControl"
                      [errorMessage]="'Username is required.'"
                      style="--index: 0">
      </app-form-input>

      <!-- Password -->
      <app-form-input *ngIf="passwordControl"
                      label="Password"
                      type="password"
                      placeholder="Enter your password"
                      [control]="passwordControl"
                      [errorMessage]="'Password is required.'"
                      style="--index: 1">
      </app-form-input>

      <!-- Submit Button -->
      <div class="form-group">
        <button type="submit" class="btn-auth" [disabled]="loginForm.invalid">
          Sign In
        </button>
      </div>

      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>

      <a routerLink="/signup" class="auth-link">Don't have an account? Sign up</a>
    </form>
  </div>
</div>
