# General compiled output
/bin
/obj
/dist
/tmp
/out-tsc
/bazel-out
/coverage

# Node.js dependencies
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular cache
/.angular/cache
.angular/cache

# ASP.NET Core artifacts
*.db
*.db-journal
*.sqlite
*.sqlite-journal
/secrets.json
/appsettings.*.json
*.pdb
*.dll
*.exe
*.lock.json

# Visual Studio files
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Visual Studio Code workspace history
.history/*
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build artifacts
/_ReSharper*
*.DotSettings.user
*.meta

# Design-time build files
*.d.ts
*.dt.json

# Logs
*.log
libpeerconnection.log
/connect.lock
testem.log

# IDE/editor-specific files
*.launch
.settings/
.project
.classpath
.c9/
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Miscellaneous
*.bak
*.swp
*.tmp
*.temp
*~
*.log

# Exclude test files
/test-results/


*.Designer.cs
*ModelSnapshot.cs
*.csproj.user
*.userosscache
/packages
/project.lock.json
/project.fragment.lock.json
/test
**/*.TestResults
*.trx
*.Coverage
/bin/
*/bin/
*/obj/
    